<mat-card-title class="border pb-xs">
  {{'SELECT_LIST' | translate}}
</mat-card-title>
<mat-dialog-content fxLayout="column">
  <div class="pb-1 valign-center">
    <mat-radio-button (change)="onSelectionChange({})" name="list" value="-1">{{'CREATE_LIST' | translate}}</mat-radio-button>
    <span fxFlex></span>
    <div class="media-grid">
      <figure>
        <img src="assets/images/img/product_default.png">
      </figure>
    </div>
  </div>
  <hr>
  <div *ngIf="total>=1">
    <div class="pb-1 valign-center" *ngFor="let list of lists  | paginate: { id: 'mylists', itemsPerPage: 20, currentPage: page, totalItems: total }">
      <mat-radio-button (change)="onSelectionChange(list.shoppingList)" name="list" value="{{list.shoppingList.id}}">{{list.shoppingList.listName}}</mat-radio-button>
      <span fxFlex></span>
      <div class="media-grid">
        <figure *ngIf="imageDisplayCondition(list.listProduct)">
          <img src="{{productImageUrl || 'assets/images/img/product_default.png'}}">
        </figure>
      </div>
      <hr>
    </div>
  </div>
  <div *ngIf="total>=1" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
    <pagination-controls class="" (pageChange)="page = $event" (pageChange)="getMyLists($event)" id="mylists"></pagination-controls>
  </div>
  <mat-progress-bar *ngIf="submitted" mode="indeterminate" [color]="primary"></mat-progress-bar>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
  <button (click)="onSubmit()" fxFlex="50" mat-button color="primary" class="btn-block text-center ">{{'ADD_TO_LIST_BUTTON' | translate}}</button>
  <button fxFlex="40" (click)="onDialogClose()" mat-button color="accent" class="btn-block text-center">{{'CLOSE_BUTTON' | translate}}</button>
</mat-dialog-actions>