<div fxLayout="row" fxLayoutWrap="wrap" fxFlex="100">
  <mat-card class="shadow-none ">
    <mat-card-title class="ma-xs">
      {{'COPYRIGHT_TITLE'|translate}} &copy;
      <span class="pr-xs">{{'YEAR'|translate}}</span>
      <span>{{'COMPANY'|translate}}</span>
    </mat-card-title>
    <mat-card-content class="ma-xs">
      <p>
        <span class="pr-xs">{{'COPYRIGHT_P1'|translate}}</span>
        <span>{{'COMPANY'|translate}}</span>
      </p>
      <h4>{{'COPYRIGHT_LICENSE'|translate|uppercase}}</h4>
      <p>
        <span class="pr-xs">{{'COMPANY'|translate}}</span>
        <span>{{'COPYRIGHT_LICENSE_P1'|translate}}</span>
      </p>
      <mat-list>
        <mat-list-item>{{'COPYRIGHT_LIST1'|translate}}</mat-list-item>
        <mat-list-item>{{'COPYRIGHT_LIST2'|translate}}</mat-list-item>
        <mat-list-item>{{'COPYRIGHT_LIST3'|translate}}</mat-list-item>
      </mat-list>
      <p>
        <span class="pr-xs">{{'COMPANY'|translate}}</span>
        <span>{{'COPYRIGHT_P2'|translate}}</span>
      </p>
      <h4>{{'DATA_MINING'|translate|uppercase}}</h4>
      <p>{{'DATA_MINING_P1'|translate}}</p>
      <h4>{{'PERMISSION'|translate|uppercase}}</h4>
      <p>
        <span class="pr-xs">{{'PERMISSION_P1'|translate}}</span>
        <span>{{'COMPANY_EMAIL'|translate}}</span>
      </p>
      <h4>{{'ENFORCEMENT'|translate|uppercase}}</h4>
      <p>
        <span class="pr-xs">{{'COMPANY'|translate}}</span>
        <span class="pr-xs">{{'ENFORCEMENT_P1'|translate}}</span>
        <span>{{'COMPANY_EMAIL'|translate}}</span>
      </p>
      <h4>{{'INFRINGING'|translate|uppercase}}</h4>
      <p>
        <span class="pr-xs">{{'INFRINGING_P1'|translate}}</span>
        <span>{{'COMPANY_EMAIL'|translate}}</span>
      </p>
      <h5>{{'CREDIT'|translate|uppercase}}</h5>
      <p>{{'CREDIT_P1'|translate}}</p>
    </mat-card-content>
  </mat-card>
</div>