<h2>
  <span>{{ 'PRODUCTS_SUBTITLE2' | translate }}</span>
</h2>

<div *ngIf="total>=1 && products" fxLayout="row" fxLayoutWrap="wrap">
  <app-product-single fxFlex.gt-lg="25%" fxFlex.gt-xs="33.33%" fxFlex="50%" [singleProduct]="product" [requestTotal]="requestTotal"
    *ngFor="let product of products  | paginate: { id: 'categorizedproducts', itemsPerPage: 20, currentPage: page, totalItems: total }"></app-product-single>
</div>
<div *ngIf="total<1" fxLayout="row" fxLayoutWrap="wrap" class="pa-xs">
  <p>{{'RESULT_NOT_FOUND' | translate}}</p>
</div>
<pagination-controls *ngIf="total>=1" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center" class="center"
  (pageChange)="page = $event" (pageChange)="getProducts($event,category,country)" id="categorizedproducts"></pagination-controls>