<div fxLayout="column" fxLayoutAlign="space-around" class="pl-1 pr-1 pb-1">
  <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #addProductForm="ngForm">
    <div class="">
      <mat-form-field style="width:100%">
        <input matInput formControlName="productName" required placeholder="{{ 'PRODUCTNAME' | translate}}" />
      </mat-form-field>
      <small *ngIf="form.controls['productName'].hasError('required') && form.controls['productName'].touched" class="mat-text-warn">{{'NAME_FORM_ERROR' | translate}}</small>
    </div>
    <div class="">
      <mat-form-field style="width:100%">
        <input matInput formControlName="estimateUnitPrice" required [min]="0" placeholder="{{ 'ESTIMATE_UNIT_PRICE' | translate}}"
        />
      </mat-form-field>
      <small *ngIf="form.controls['estimateUnitPrice'].hasError('required') && form.controls['estimateUnitPrice'].touched" class="mat-text-warn">{{'PRICE_FORM_ERROR' | translate}}</small>
      <small *ngIf="form.controls['estimateUnitPrice'].errors?.number" class="mat-text-warn">{{'NUMBER_ONLY_ERROR' | translate}}</small>
      <small *ngIf="form.controls['estimateUnitPrice'].errors?.min" class="mat-text-warn">{{'POSITIVE_NUMBER_ONLY_ERROR' | translate}}</small>
    </div>
    <div class="">
      <mat-form-field style="width:100%">
        <input matInput formControlName="estimateUnit" required [min]="0" placeholder="{{ 'UNITS' | translate}}" />
      </mat-form-field>
      <small *ngIf="form.controls['estimateUnit'].hasError('required') && form.controls['estimateUnit'].touched" class="mat-text-warn">{{'UNITS_FORM_ERROR' | translate}}</small>
      <small *ngIf="form.controls['estimateUnit'].errors?.number" class="mat-text-warn">{{'NUMBER_ONLY_ERROR' | translate}}</small>
      <small *ngIf="form.controls['estimateUnit'].errors?.min" class="mat-text-warn">{{'POSITIVE_NUMBER_ONLY_ERROR' | translate}}</small>
    </div>
    <div class="">
      <mat-form-field style="width:100%">
        <mat-select placeholder="{{'UNIT_TYPE' | translate}}" formControlName="unitType">
          <mat-option *ngFor="let unit of units" [value]="unit.value">
            {{ unit.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="center center" fxLayout="column">
      <button (click)="onSaveToList()" type="submit" [disabled]="!addProductForm.form.valid" mat-button color="primary" class="btn-block text-center">{{'ADD_TO_LIST_BUTTON' | translate}}</button>
      <div class="pb-1"></div>
      <button *ngIf="requestTotal>=1" (click)="onSaveToRequest()" [disabled]="!addProductForm.form.valid" mat-button color="primary"
        class="btn-block text-center">{{'ADD_TO_REQUEST_BUTTON' | translate}}</button>
    </div>
  </form>
</div>