<div fxLayout="row" fxLayoutWrap="wrap" fxFlex="100">
    <mat-card class="shadow-none ma-xs">
        <mat-card-title class="ma-xs">
            {{'TERMS_TITLE'|translate|uppercase}}
        </mat-card-title>
        <mat-card-content class="ma-xs">
            <h4>{{'TERMS_Q1'|translate|uppercase}}</h4>
            <p>{{'TERMS_A1'|translate}}</p>
            <h4>{{'TERMS_Q2'|translate|uppercase}}</h4>
            <p>{{'TERMS_A2'|translate}}</p>
            <h4>{{'TERMS_Q3'|translate|uppercase}}</h4>
            <p>{{'TERMS_A3'|translate}}</p>
            <h4>{{'TERMS_Q4'|translate|uppercase}}</h4>
            <p>{{'TERMS_A4'|translate}}</p>
            <h4>{{'TERMS_Q5'|translate|uppercase}}</h4>
            <p>{{'TERMS_A5'|translate}}</p>
            <h4>{{'TERMS_Q6'|translate|uppercase}}</h4>
            <p>{{'TERMS_A6'|translate}}</p>
            <h4>{{'TERMS_Q7'|translate|uppercase}}</h4>
            <p>{{'TERMS_A7'|translate}}</p>
            <h4>{{'TERMS_Q8'|translate|uppercase}}</h4>
            <p>{{'TERMS_A8'|translate}}</p>
            <h4>{{'TERMS_Q9'|translate|uppercase}}</h4>
            <p>{{'TERMS_A9'|translate}}</p>
            <h4>{{'TERMS_Q10'|translate|uppercase}}</h4>
            <p>{{'TERMS_A10'|translate}}</p>
            <h4>{{'TERMS_Q11'|translate|uppercase}}</h4>
            <p>{{'TERMS_A11'|translate}}</p>
            <h4>{{'TERMS_Q12'|translate|uppercase}}</h4>
            <p>{{'TERMS_A12'|translate}}</p>
            <h4>{{'TERMS_Q13'|translate|uppercase}}</h4>
            <p>{{'TERMS_A13'|translate}}</p>
        </mat-card-content>
    </mat-card>
  </div>