<div fxShow="false" fxShow.sm fxShow.xs fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start start" >
  <div  *ngFor="let brand of brands; let i = index" >
    <mat-radio-button  (click)="selectMenu(brand, i)"  class="text-md pa-1">{{ brand }}</mat-radio-button>
  </div>
</div>

<div fxShow="false" fxShow.gt-sm fxLayout="column" fxLayoutWrap="wrap" fxLayoutAlign="start start" >
  <div  *ngFor="let brand of brands; let i = index" >
    <mat-radio-button  (click)="selectMenu(brand, i)"  class="text-md pa-1">{{ brand }}</mat-radio-button>
  </div>
</div>


