<h2>
  <span>{{ 'REQUESTS_SUBTITLE4' | translate }}</span>
</h2>
<div *ngIf="requests && total>=1" fxLayout="row" fxLayoutWrap="wrap" class="pt-xs">
  <app-request-map-single *ngFor="let request of requests  | paginate: { id: 'byTimeRequests', itemsPerPage: 20, currentPage: page, totalItems: total }"
    fxFlex.gt-lg="25%" fxFlex.gt-xs="33.33%" fxFlex="50%" [singleRequest]="request" [source]="source"></app-request-map-single>
</div>
<div *ngIf="total<1" fxLayout="row" fxLayoutWrap="wrap" class="pa-xs">
  <p>{{'NO_REQUEST' | translate}}</p>
</div>

<pagination-controls *ngIf="total>=1" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center" (pageChange)="page = $event"
  (pageChange)="getRequests($event,time,country,city)" id="byTimeRequests"></pagination-controls>