<mat-card class="shadow-none" *ngIf="!isRequesterFormView && !isShopperFormView && shoppingProduct">
  <div fxFlex="50" class="media-grid">
    <figure>
      <img class="" src="{{shoppingProduct.productImageUrl || 'assets/images/img/product_default.png'}}">
    </figure>
  </div>
  <div fxFlex="50" fxLayout="column" fxLayoutAlign="end end">
    <mat-card-title class="ml-xs mr-xs mt-xs">
      {{shoppingProduct.productName}}
    </mat-card-title>
    <mat-card-subtitle fxLayout="column">
      <div class="pl-xs pr-xs">
        <span class="pr-xs">{{'EST_UNIT' | translate}}</span>
        <span fxFlex></span>
        <span class="pr-xs">{{shoppingProduct.estimateUnit}}</span>
        <span class="text-secondary">{{shoppingProduct.unitType}}</span>
      </div>
      <div class="pl-xs pr-xs pb-xs">
        <span class="pr-xs">{{'EST_PRICE' | translate}}</span>
        <span fxFlex></span>
        <span class="pr-xs">{{shoppingProduct.estimateUnitPrice}}</span>
        <span class="text-secondary">{{'EURO' | translate}}</span>
      </div>
      <div class="pl-xs pr-xs">
        <span class="pr-xs">{{'ACT_UNIT' | translate}}</span>
        <span fxFlex></span>
        <span class="pr-xs">{{shoppingProduct.actualUnit}}</span>
        <span class="text-secondary">{{shoppingProduct.unitType}}</span>
      </div>
      <div class="pl-xs pr-xs">
        <span class="pr-xs">{{'ACT_PRICE' | translate}}</span>
        <span fxFlex></span>
        <span class="pr-xs">{{shoppingProduct.actualUnitPrice}}</span>
        <span class="text-secondary">{{'EURO' | translate}}</span>
      </div>
    </mat-card-subtitle>
    <mat-card-actions class="ml-xs mr-xs mb-xs" fxLayoutAlign="end end">
      <span *ngIf="source=='requester' && shoppingRequest.requestStatus=='REQUESTED'" (click)="onRequesterEdit()" class="lnr lnr-pencil pr-xs"></span>
      <span *ngIf="source=='shopper' && shoppingRequest.requestStatus!='CONFIRMED' && shoppingRequest.shoppingStatus=='ACCEPTED'"
        (click)="onShopperEdit()" class="lnr lnr-pencil pr-xs"></span>
      <span *ngIf="source=='requester' && shoppingRequest.requestStatus=='REQUESTED' && shoppingRequest.shoppingStatus==null" (click)="onRemove()"
        class="lnr lnr-cross"></span>
    </mat-card-actions>
  </div>
</mat-card>

<mat-card class="shadow-none" *ngIf="isRequesterFormView && shoppingProduct">
  <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #shoppingProductForm="ngForm">
    <mat-card-subtitle fxLayout="column">
      <div class="pt-xs pl-xs pr-xs">
        <mat-form-field style="width:100%">
          <input matInput formControlName="productName" required [value]="shoppingProduct.productName" placeholder="{{ 'PRODUCTNAME' | translate}}"
          />
        </mat-form-field>
        <small *ngIf="form.controls['productName'].hasError('required') && form.controls['productName'].touched" class="mat-text-warn">{{'NAME_FORM_ERROR' | translate}}</small>
      </div>
      <div class="pl-xs pr-xs">
        <mat-form-field style="width:100%">
          <input matInput formControlName="estimateUnitPrice" required [min]="0" [value]="shoppingProduct.estimateUnitPrice" placeholder="{{ 'ESTIMATE_UNIT_PRICE' | translate}}"
          />
        </mat-form-field>
        <small *ngIf="form.controls['estimateUnitPrice'].hasError('required') && form.controls['estimateUnitPrice'].touched" class="mat-text-warn">{{'PRICE_FORM_ERROR' | translate}}</small>
        <small *ngIf="form.controls['estimateUnitPrice'].errors?.number" class="mat-text-warn">{{'NUMBER_ONLY_ERROR' | translate}}</small>
        <small *ngIf="form.controls['estimateUnitPrice'].errors?.min" class="mat-text-warn">{{'POSITIVE_NUMBER_ONLY_ERROR' | translate}}</small>
      </div>
      <div class="pl-xs pr-xs">
        <mat-form-field style="width:100%">
          <input matInput formControlName="estimateUnit" [value]="shoppingProduct.estimateUnit" required [min]="0" placeholder="{{ 'UNITS' | translate}}"
          />
        </mat-form-field>
        <small *ngIf="form.controls['estimateUnit'].hasError('required') && form.controls['estimateUnit'].touched" class="mat-text-warn">{{'UNITS_FORM_ERROR' | translate}}</small>
        <small *ngIf="form.controls['estimateUnit'].errors?.number" class="mat-text-warn">{{'NUMBER_ONLY_ERROR' | translate}}</small>
        <small *ngIf="form.controls['estimateUnit'].errors?.min" class="mat-text-warn">{{'POSITIVE_NUMBER_ONLY_ERROR' | translate}}</small>
      </div>
      <div class="pl-xs pr-xs">
        <mat-form-field style="width:100%">
          <mat-select placeholder="{{'UNIT_TYPE' | translate}}" formControlName="unitType">
            <mat-option *ngFor="let unit of units" [value]="unit.value">
              {{ unit.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-subtitle>
    <mat-card-actions fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center" class="ml-xs mr-xs mb-xs">
      <button fxFlex="40" type="submit" [disabled]="!shoppingProductForm.form.valid" mat-button color="primary" class="btn-block text-center">{{'SAVE_BUTTON' | translate}}</button>
      <button fxFlex="40" (click)="onClose()" mat-button color="accent" class="btn-block text-center">{{'CLOSE_BUTTON' | translate}}</button>
    </mat-card-actions>
  </form>
  <mat-progress-bar *ngIf="submitted" mode="indeterminate" [color]="primary"></mat-progress-bar>
</mat-card>

<mat-card class="shadow-none" *ngIf="isShopperFormView && shoppingProduct">
  <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #shoppingProductForm="ngForm">
    <mat-card-subtitle fxLayout="column">
      <div class="pt-xs pl-xs pr-xs">
        <mat-form-field style="width:100%">
          <input matInput formControlName="actualUnitPrice" required [min]="0" [value]="shoppingProduct.actualUnitPrice" placeholder="{{ 'ACTUAL_UNIT_PRICE' | translate}}"
          />
        </mat-form-field>
        <small *ngIf="form.controls['actualUnitPrice'].hasError('required') && form.controls['actualUnitPrice'].touched" class="mat-text-warn">{{'PRICE_FORM_ERROR' | translate}}</small>
        <small *ngIf="form.controls['actualUnitPrice'].errors?.number" class="mat-text-warn">{{'NUMBER_ONLY_ERROR' | translate}}</small>
        <small *ngIf="form.controls['actualUnitPrice'].errors?.min" class="mat-text-warn">{{'POSITIVE_NUMBER_ONLY_ERROR' | translate}}</small>
      </div>
      <div class="pl-xs pr-xs">
        <mat-form-field style="width:100%">
          <input matInput formControlName="actualUnit" [value]="shoppingProduct.actualUnit" required [min]="0" placeholder="{{ 'ACTUAL_UNITS' | translate}}"
          />
        </mat-form-field>
        <small *ngIf="form.controls['actualUnit'].hasError('required') && form.controls['actualUnit'].touched" class="mat-text-warn">{{'UNITS_FORM_ERROR' | translate}}</small>
        <small *ngIf="form.controls['actualUnit'].errors?.number" class="mat-text-warn">{{'NUMBER_ONLY_ERROR' | translate}}</small>
        <small *ngIf="form.controls['actualUnit'].errors?.min" class="mat-text-warn">{{'POSITIVE_NUMBER_ONLY_ERROR' | translate}}</small>
      </div>
    </mat-card-subtitle>
    <mat-card-actions fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center" class="ml-xs mr-xs mb-xs">
      <button fxFlex="40" type="submit" [disabled]="!shoppingProductForm.form.valid" mat-button color="primary" class="btn-block text-center">{{'SAVE_BUTTON' | translate}}</button>
      <button fxFlex="40" (click)="onClose()" mat-button color="accent" class="btn-block text-center">{{'CLOSE_BUTTON' | translate}}</button>
    </mat-card-actions>
  </form>
  <mat-progress-bar *ngIf="submitted" mode="indeterminate" [color]="primary"></mat-progress-bar>
</mat-card>