<div fxShow="false" fxShow.sm fxShow.xs fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start start" >
  <div  *ngFor="let category of categories; let i = index" >
    <mat-radio-button  (click)="selectMenu(category, i)"  class="text-md pa-1">{{ category }}</mat-radio-button>
  </div>
</div>

<div fxShow="false" fxShow.gt-sm fxLayout="column" fxLayoutWrap="wrap" fxLayoutAlign="start start" >
  <div  *ngFor="let category of categories; let i = index" >
    <mat-radio-button  (click)="selectMenu(category, i)"  class="text-md pa-1">{{ category }}</mat-radio-button>
  </div>
</div>




