<div class="footer">
  <div id="button"></div>
  <div id="container">
    <div id="cont">
      <div class="footer_center">
        <p>&copy;
          <span class="pr-xs">{{'YEAR'|translate}}</span>
          <a routerLink="/site/copyright">
            <span>{{'COMPANY'|translate}}</span>
          </a>
        </p>
        <p class="mt-xs pb-xs">
          <a routerLink="/site/terms">
            <span class="pr-xs">{{'TERMS'| translate}}</span>
          </a>
          <a routerLink="/site/policy">
            <span class="pr-xs">{{'PRIVACY'| translate}}</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>