<!-- Slider -->
<div id="slider">
  <div class="slides">
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt pl-xs">
          <h1>{{'COVER_TITLE1' | translate}}</h1>
          <h2>{{'COVER_SUBTITLE1' | translate}}</h2>
        </div>
      </div>
      <div class="image">
        <img src="/assets/images/img/cover.jpg">
      </div>
    </div>
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt pl-xs">
          <h1>{{'COVER_TITLE2' | translate}}</h1>
          <h2>{{'COVER_SUBTITLE2' | translate}}</h2>
        </div>
      </div>
      <div class="image">
        <img src="/assets/images/img/shopforme.jpg">
      </div>
    </div>
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt pl-xs">
          <h1>{{'COVER_TITLE3' | translate}}</h1>
          <h2>{{'COVER_SUBTITLE3' | translate}}</h2>
        </div>
      </div>
      <div class="image">
        <img src="/assets/images/img/goingshopping.jpg">
      </div>
    </div>
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt pl-xs">
          <h1>{{'COVER_TITLE4' | translate}}</h1>
          <h2>{{'COVER_SUBTITLE4' | translate}}</h2>
        </div>
      </div>
      <div class="image">
        <img src="/assets/images/img/shoppinglist.jpg">
      </div>
    </div>
  </div>
  <div class="switch">
    <ul>
      <li>
        <div class="on"></div>
      </li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>